ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/usr/src/scripts/mount.sh $env{DEVNAME}"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/usr/src/scripts/unmount.sh $env{DEVNAME}"
